@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-semibold text-gray-700 my-5;
  }
  h2 {
    @apply text-2xl font-semibold text-gray-700 my-5;
  }

  img {
    @apply rounded-lg p-5 size-1/2 h-fit w-fit;
  }

  a {
    @apply hover:text-blue-200;
  }
  strong {
    @apply bg-blue-100 rounded-full px-4 hover:bg-cyan-900;
  }
}

h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
}

li {
  display: list-item;
  list-style-type: circle;
  margin-left: 2rem;
}
pre {
  overflow-x: auto;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
pre [data-line] {
  padding: 0 1rem;
}
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
